* {
  font-family: RobotoMedium;
}
body {
  background: #f5fff2;
}
header .container {
  padding: 10px;
  padding-top: 30px;
  box-sizing: border-box;
  position: relative;
}

.navbar.navbar-default {
  padding: 30px 0px;
  border-radius: 0px;
  box-sizing: border-box;
  margin: 0 40px 0 40px;
  background: #fff;
  border:none;
  box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
}
a.navbar-brand > p {
  font-family: RobotoBold;
  display: inline-block;
  font-size: 3em;
  color: #57a342;
  margin-left:10px;
}
a.navbar-brand>p:hover  {
  color:#6cc952;
}

.collapse.navbar-collapse>ul {
  margin-right:30px;
  font-size: 18px;
}
.collapse.navbar-collapse>ul>li {
  border-bottom: 1px solid transparent;
}

.collapse.navbar-collapse>ul>li:hover {
  border-bottom: 1px solid #57a342;
}
.social-icons {
  position:absolute;
  right: 100px;
  top:0;
  background: #f2f2f2;
  border-left: 1px solid #57a342;
  border-right: 1px solid #57a342;
  border-bottom: 1px solid #57a342;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  padding:10px;
}
.social-icons>a {
  display: inline-block;
  margin: 0 10px 0 10px;
  color:#6cc952;
}
.social-icons>a:hover {
  color: #57a342;
}

#carousel {
//	min-width: 800px;
	margin: 30px auto;
}

article {
  display:block;
  padding: 15px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
}
article>p.img>img {
max-width:100%;
}
p {
  margin-bottom: 5px;
  font-family: RobotoLight;
}
p.img {
  text-align: center;
  margin-bottom: 15px;
}
a.next{
  display: block;
  text-decoration: none;
  color: #000;
  width:110px;
  margin-top: 15px;
  padding:2px 0px 2px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.next:hover {
  border-color: #99c0ff;
  background: #99c0ff;
  color: #fff;
}

.sponsors>h2 {
  text-align: center;
}
.sponsors>.sponsor>a>img.sp {
  max-width:100%;
}
.sponsors>.sponsor {
  margin-bottom: 60px;
}

@font-face {
 font-family: RobotoMedium; /* Имя шрифта */
 src: url(../fonts/RobotoMedium.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
 font-family: RobotoLight; /* Имя шрифта */
 src: url(../fonts/RobotoLight.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
 font-family: RobotoBold; /* Имя шрифта */
 src: url(../fonts/RobotoBold.ttf); /* Путь к файлу со шрифтом */
}
